# # Transformers for the translation model
transformers==4.45.2

# Torch for PyTorch (required by transformers)
torch==2.5.0

# Optional, if you use numpy (for numerical operations)
numpy

# Needded by translater
sacremoses
sentencepiece
